<body>
  <div class="wrapper" style="background-image: url('./assets/img/bg1.jpg')">
    <div class="inner rounded-lg">
      <div class="image-holder">
        <img src="./assets/img/bg1.jpg" n class="rounded-lg" alt="" />
      </div>
      <form action="" class="my-auto">
        <h3 class="font-weight-bolder">Login Form</h3>
        <div class="form-wrapper">
          <input type="text" placeholder="Username" class="form-control" />
          <i class=""></i>
        </div>

        <div class="form-wrapper">
          <input type="password" placeholder="Password" class="form-control" />
          <i class=""></i>
        </div>

        <button class="rounded-lg my-button">Login</button>
        <div class="row mt-3">
          <p class="auth-link">
            If you don't have an account,
            <span><a href="/clientsignup" class="">click here</a></span> to
            create one.
          </p>
        </div>
      </form>
    </div>
  </div>
</body>
