<!--Navbar -->
<nav id="toolbar" class="mb-1 navbar navbar-expand-lg navbar-dark">
  <a id="word3" class="navbar-brand" href="#">Studio Sesh</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Log Off</a>
      </li>
      <li style="margin-top: -0.5em;" class="nav-item avatar">
        <a class="nav-link p-0" href="#">
          <img
          src="https://mdbootstrap.com/img/new/avatars/2.jpg"
          class="rounded-circle"
          height="45"
          alt=""
          loading="lazy"

        />
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->

   <div class="row">
     <div style="padding-left: 3em;" class="column left">
       <h2 style="color: #5F9EA0;">Studio bookings</h2>
       <br>
       <h4 id="title2">Booking for today</h4>
       <br>
       <p style="color: #5F9EA0; font-weight: 500;">See bookings for another day</p>

       <form id="border1" style="width: 250px;">
        <input style="border-radius: 8px;" type="text" id="typeText" class="form-control" placeholder="Search date...">
      </form><br>
      <button style="width: 220px;" id="button1" type="button" class="btn btn-rounded">Load Bookings</button>
     </div>


     <div class="column right">

      <!--1st row-->
      <div class="grid-container">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div>
            <div class="card mb-3" style="max-width: 240px; border: 1px solid #AF855A;">
              <div class="row g-0">
                <div style="padding-top: 1em; padding-left: 8px;" class="col-md-4">
                  <img
                  src="https://mdbootstrap.com/img/new/avatars/2.jpg"
                  class="rounded-circle"
                  height="85"
                  alt=""
                  loading="lazy"

                />
                </div>
                <div style="padding-top: 2em;" class="col-md-8">
                  <div style="padding-left: 25px;" class="card-body">
                    <h5 id="title1" class="card-title">Client Name</h5>
                    <p id="title2" class="card-text">Client Email</p>
                    <p id="title2" class="card-text">Booking Date</p>
                  <br>
                  </div>
                </div>
              </div>
            </div>
            </div>

            <div>
              <div class="card mb-3" style="max-width: 240px; border: 1px solid #AF855A;">
                <div class="row g-0">
                  <div style="padding-top: 1em; padding-left: 8px;" class="col-md-4">
                    <img
                    src="https://mdbootstrap.com/img/new/avatars/2.jpg"
                    class="rounded-circle"
                    height="85"
                    alt=""
                    loading="lazy"

                  />
                  </div>
                  <div style="padding-top: 2em;" class="col-md-8">
                    <div style="padding-left: 25px;" class="card-body">
                      <h5 id="title1" class="card-title">Client Name</h5>
                      <p id="title2" class="card-text">Client Email</p>
                      <p id="title2" class="card-text">Booking Date</p>
                    <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div>
              <div class="card mb-3" style="max-width: 240px; border: 1px solid #AF855A;">
                <div class="row g-0">
                  <div style="padding-top: 1em; padding-left: 8px;" class="col-md-4">
                    <img
                    src="https://mdbootstrap.com/img/new/avatars/2.jpg"
                    class="rounded-circle"
                    height="85"
                    alt=""
                    loading="lazy"

                  />
                  </div>
                  <div style="padding-top: 2em;" class="col-md-8">
                    <div style="padding-left: 25px;" class="card-body">
                      <h5 id="title1" class="card-title">Client Name</h5>
                      <p id="title2" class="card-text">Client Email</p>
                      <p id="title2" class="card-text">Booking Date</p>
                    <br>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
      </div>

      <!--2nd row-->
    <div class="grid-container">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div>
        <div class="card mb-3" style="max-width: 240px; border: 1px solid #AF855A;">
          <div class="row g-0">
            <div style="padding-top: 1em; padding-left: 8px;" class="col-md-4">
              <img
              src="https://mdbootstrap.com/img/new/avatars/2.jpg"
              class="rounded-circle"
              height="85"
              alt=""
              loading="lazy"

            />
            </div>
            <div style="padding-top: 2em;" class="col-md-8">
              <div style="padding-left: 25px;" class="card-body">
                <h5 id="title1" class="card-title">Client Name</h5>
                <p id="title2" class="card-text">Client Email</p>
                <p id="title2" class="card-text">Booking Date</p>
              <br>
              </div>
            </div>
          </div>
        </div>
        </div>

        <div>
          <div class="card mb-3" style="max-width: 240px; border: 1px solid #AF855A;">
            <div class="row g-0">
              <div style="padding-top: 1em; padding-left: 8px;" class="col-md-4">
                <img
                src="https://mdbootstrap.com/img/new/avatars/2.jpg"
                class="rounded-circle"
                height="85"
                alt=""
                loading="lazy"

              />
              </div>
              <div style="padding-top: 2em;" class="col-md-8">
                <div style="padding-left: 25px;" class="card-body">
                  <h5 id="title1" class="card-title">Client Name</h5>
                  <p id="title2" class="card-text">Client Email</p>
                  <p id="title2" class="card-text">Booking Date</p>
                <br>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <div class="card mb-3" style="max-width: 240px; border: 1px solid #AF855A;">
            <div class="row g-0">
              <div style="padding-top: 1em; padding-left: 8px;" class="col-md-4">
                <img
                src="https://mdbootstrap.com/img/new/avatars/2.jpg"
                class="rounded-circle"
                height="85"
                alt=""
                loading="lazy"

              />
              </div>
              <div style="padding-top: 2em;" class="col-md-8">
                <div style="padding-left: 25px;" class="card-body">
                  <h5 id="title1" class="card-title">Client Name</h5>
                  <p id="title2" class="card-text">Client Email</p>
                  <p id="title2" class="card-text">Booking Date</p>
                <br>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
  </div>


  <!--3rd row-->
  <div class="grid-container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div>
      <div class="card mb-3" style="max-width: 240px; border: 1px solid #AF855A;">
        <div class="row g-0">
          <div style="padding-top: 1em; padding-left: 8px;" class="col-md-4">
            <img
            src="https://mdbootstrap.com/img/new/avatars/2.jpg"
            class="rounded-circle"
            height="85"
            alt=""
            loading="lazy"

          />
          </div>
          <div style="padding-top: 2em;" class="col-md-8">
            <div style="padding-left: 25px;" class="card-body">
              <h5 id="title1" class="card-title">Client Name</h5>
              <p id="title2" class="card-text">Client Email</p>
              <p id="title2" class="card-text">Booking Date</p>
            <br>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div>
        <div class="card mb-3" style="max-width: 240px; border: 1px solid #AF855A;">
          <div class="row g-0">
            <div style="padding-top: 1em; padding-left: 8px;" class="col-md-4">
              <img
              src="https://mdbootstrap.com/img/new/avatars/2.jpg"
              class="rounded-circle"
              height="85"
              alt=""
              loading="lazy"

            />
            </div>
            <div style="padding-top: 2em;" class="col-md-8">
              <div style="padding-left: 25px;" class="card-body">
                <h5 id="title1" class="card-title">Client Name</h5>
                <p id="title2" class="card-text">Client Email</p>
                <p id="title2" class="card-text">Booking Date</p>
              <br>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div>
        <div class="card mb-3" style="max-width: 240px; border: 1px solid #AF855A;">
          <div class="row g-0">
            <div style="padding-top: 1em; padding-left: 8px;" class="col-md-4">
              <img
              src="https://mdbootstrap.com/img/new/avatars/2.jpg"
              class="rounded-circle"
              height="85"
              alt=""
              loading="lazy"

            />
            </div>
            <div style="padding-top: 2em;" class="col-md-8">
              <div style="padding-left: 25px;" class="card-body">
                <h5 id="title1" class="card-title">Client Name</h5>
                <p id="title2" class="card-text">Client Email</p>
                <p id="title2" class="card-text">Booking Date</p>
              <br>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
</div>

     </div>
   </div>


<!-- <router-outlet></router-outlet> -->
