<main>
	<div class="lp">
		<section class="lp__grid">
			<div class="lp__item lp__nav">
				<i class="fas fa-bars"></i>
				<p><a href="#">Studio.<span>sesh</span></a></p>
			</div>
			<div class="lp__item lp__mainText">
				<h1>Welcome to <br> Studio Sesh</h1>
				<p>Let us connect you to the perfect studio for your photo and musical needs.
				   Studio sesh allows studio owners to access and interact with thier customers and directly manage thier
				   user experience.
				</p>

				<a class="my-button" title="Relevant Title" href="#">Studio owner</a>
				<a class="my-button1" title="Relevant Title" href="#">Studio client</a>
				
			</div>
			
			<div class="lp__item lp__mainImg">
				<div class="lp__social"><i class="fas fa-camera"></i></div>
			</div>
			<div class="lp__item lp__supportInfo">
				<div class="lp__suportInfo__item lp__suportInfo__text">
					<h2><a href="#">Explore</a></h2>
					<p>Studio sesh taps into the evolving entertainment industry as it automates services rendered by 
					 photographers and music producers.
					</p>
				</div>
				<div class="lp__suportInfo__item lp__suportInfo__image"></div>
		
		
			</div>
			</section>
	</div>
	
</main>