<body>

	<div class="wrapper" style="background-image: url('./assets/img/bg1.jpg');">
		<div class="inner">
			<div class="image-holder">
				<img src="./assets/img/bg1.jpg" alt="">
			</div>
			<form action="">
				<h3>Registration Form</h3>
				<div class="form-group">
					<input type="text" placeholder="First Name" class="form-control">
					<input type="text" placeholder="Last Name" class="form-control">
				</div>
				<div class="form-wrapper">
					<input type="text" placeholder="Username" class="form-control">
					<i class=""></i>
				</div>
				<div class="form-wrapper">
					<input type="text" placeholder="Email Address" class="form-control">
					<i class=""></i>
				</div>
				
				<div class="form-wrapper">
					<input type="password" placeholder="Password" class="form-control">
					<i class=""></i>
				</div>
				<div class="form-wrapper">
					<input type="password" placeholder="Confirm Password" class="form-control">
					<i class=""></i>
				</div>
				<button>Login
					<i class=""></i>
				</button>
			</form>
		</div>
	</div>
	
</body>
