<div class="split1 left">
  <div class="centered1">
    <h4><strong>Welcome to Studio Sesh</strong></h4>
    <p class="head">Create an account to continue</p>
    <form>
      <div class="row">
        <div class="col">
          <!-- <label class="brown" for="Enter your Username">Enter your Username</label>Enter your Username -->
          <p id="title1">Enter your Username</p>
          <input type="text" class="form-control form-rounded" placeholder="John Doe">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <!-- <label class="brown" for="Enter your Email">Enter your Email</label> -->
                    <p id="title1">Enter your Email</p>

          <input type="text" class="form-control form-rounded" placeholder="johndoe@gmail.com">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <!-- <label class="brown" for="Enter your password">Enter your password</label> -->
                    <p id="title1">Enter your password</p>
          <input type="text" class="form-control form-rounded" placeholder="Type password here">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <!-- <label class="brown" for="Confirm your password">Confirm your password</label> -->
                    <p id="title1">Confirm your password</p>
          <input type="text" class="form-control form-rounded" placeholder="Type password here">
        </div>
      </div>
      <br>
      <div class="row">
        <button id="button"  type="button" class="btn btn btn-sm">Create Account</button>
      </div>
    </form>
  </div>
</div>

<div class="split2 right">
  <div class="centered">
  </div>
</div>
