<!-- <div class="split1 left">
  <div class="centered1">
    <h4><strong>Welcome to Studio Sesh</strong></h4>
    <p class="brown">Create an account to continue</p>
    <form>
      <div class="row">
        <div class="col">
          <label class="brown" for="Enter your Username">Enter your Username</label>
          <input type="text" class="form-control form-rounded" placeholder="John Doe">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <label class="brown" for="Enter your Email">Enter your Email</label>
          <input type="text" class="form-control form-rounded" placeholder="johndoe@gmail.com">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <label class="brown" for="Enter your password">Enter your password</label>
          <input type="text" class="form-control form-rounded" placeholder="Type password here">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <label class="brown" for="Confirm your password">Confirm your password</label>
          <input type="text" class="form-control form-rounded" placeholder="Type password here">
        </div>
      </div>
      <br>
      <div class="row">
        <button type="button" class="btn">Danger</button>
      </div>
    </form>
  </div>
</div>

<div class="split2 right">
  <div class="centered">
  </div>
</div> -->
