<div class="split1 left">
  <div class="centered1">
    <h4><strong>Post an update</strong></h4>
    <p class="head">Let your clients see what you've been upto.</p>
    <form>
      <div class="row">
        <div class="col">
          <!-- <label class="brown" for="Enter your Username">Enter your Username</label>Enter your Username -->
          <p id="title1">Upload post image</p>
          <input
            type="file"
            accept="image/*"
            class="form-control form-rounded"
            placeholder="John Doe"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <!-- <label class="brown" for="Enter your Email">Enter your Email</label> -->
          <p id="title1">Enter post description</p>

          <textarea
            class="form-control form-rounded"
            placeholder="Start typing here..."
            rows="5"
          ></textarea>
        </div>
      </div>
      <br />

      <div class="row">
        <button id="button" type="button" class="btn btn btn-sm">
          Create Account
        </button>
      </div>
    </form>
  </div>
</div>

<div class="split2 right">
  <div class="centered"></div>
</div>
