<nav id="toolbar" class="mb-1 navbar navbar-expand-lg navbar-dark">
  <a id="word3" class="navbar-brand" href="#">Studio Sesh</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" href="/client/feed">Feed </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Log Off</a>
      </li>
      <li style="margin-top: -0.5em" class="nav-item avatar">
        <a class="nav-link p-0" href="#">
          <img
            src="https://mdbootstrap.com/img/new/avatars/2.jpg"
            class="rounded-circle"
            height="45"
            alt=""
            loading="lazy"
          />
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="row mt-3">
    <p class="search-header">Search Results</p>
  </div>
  <div class="row">
    <p class="search-body mb-1">
      Here are the search results for "search_query"
    </p>
  </div>

  <div class="row search-grid">
    <div class="studio-item">
      <div class="row">
        <div class="studio-logo-container mx-auto">
          <img
            src="https://images.pexels.com/photos/2290786/pexels-photo-2290786.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt=""
            class="studio-logo"
          />
        </div>
        <div class="studio-details my-1">
          <p class="studio-name my-1">Studio Name</p>
          <p class="studio-email my-1">Studioemail@example.com</p>
          <p class="studio-location my-1">Westlands Nairobi</p>
        </div>
      </div>
    </div>
  </div>
</div>
