 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div id="toolbar" class="container-fluid">

    <!-- Collapsible wrapper -->
    <div id="word3" class="d-flex align-items-center">
      <p >Studio Sesh</p>
    </div>


    <!-- Right elements -->
    <div id="word2" class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <p>Dashboard</p>
      </a>

      <a class="text-reset me-3" href="#">
        <p>Search</p>
      </a>

      <a class="text-reset me-3" href="#">
        <p>Log Off</p>
      </a>

      <!-- Avatar -->
      <a
        class="dropdown-toggle d-flex align-items-center hidden-arrow"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-mdb-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://mdbootstrap.com/img/new/avatars/2.jpg"
          class="rounded-circle"
          height="45"
          alt=""
          loading="lazy"
        />
      </a>

    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->

<div class="wrapper">
  <header>
    <h1></h1>
  </header>

  <section class="columns">

    <div class="column">
      <h2 id="title1">Edit Profile</h2>
    </div>

    <div class="column">
    <div class="container">
    <div >
    <h2 id="title1">Update Logo</h2>
    <section id="section1">
    <a href="">
      <img
          src="https://mdbootstrap.com/img/new/avatars/2.jpg"
          class="rounded-circle"
          height="85"
          alt=""
          loading="lazy"
        />
    </a>
    </section>

    <section id="section2">
    <p id="title1">Enter your new logo</p>
    <form id="border1" style="width: 200px;">
      <!-- <label class="form-label" for="typeText">First Name</label> -->
      <input style="border-radius: 10px;" type="text" id="typeText" class="form-control">
    </form><br>
    <button id="button1"  type="submit" class="btn btn btn-sm" style="margin-left: 75%">Save</button>
    </section>
    </div>
    </div>


    <h2 id="title1">Update Location</h2>
    <p id="word1">Enter your new location</p>
    <form id="border1" style="width: 300px;">
      <!-- <label class="form-label" for="typeText">First Name</label> -->
      <input style="border-radius: 10px;" type="text" id="typeText" class="form-control">
    </form><br>
    <button id="button1" type="button" class="btn btn btn-sm" style="margin-left: 55%">Change Location</button>

    <h2 id="title1">Update Rate</h2>
    <p id="word1">Enter new rate</p>
    <form id="border1" style="width: 300px;">
      <!-- <label class="form-label" for="typeText">First Name</label> -->
      <input style="border-radius: 10px;" type="text" id="typeText" class="form-control">
    </form><br>
    <button id="button1" type="button" class="btn btn btn-sm" style="margin-left: 65%">Change Rate</button><br>

    </div>

    <div class="column">
      <h2 id="title1">Change Email</h2>

    <p id="word1">Change Email</p>
    <form id="border1" style="width: 250px;">
      <!-- <label class="form-label" for="typeText">First Name</label> -->
      <input style="border-radius: 10px;" type="text" id="typeText" class="form-control">
    </form><br>
    <button id="button1" type="button" class="btn btn btn-sm" style="margin-left: 55%">Change Email</button><br>

    <h2 id="title1">Change Password</h2>
    <p id="word1">Enter old password</p>
    <form id="border1" style="width: 250px;">
      <!-- <label class="form-label" for="typeText">First Name</label> -->
      <input style="border-radius: 10px;" type="text" id="typeText" class="form-control">
    </form><br>

    <p id="word1">Enter new password</p>
    <form id="border1" style="width: 250px;">
      <!-- <label class="form-label" for="typeText">First Name</label> -->
      <input style="border-radius: 10px;" type="text" id="typeText" class="form-control">
    </form><br>

    <p id="word1">Confirm new password</p>
    <form id="border1" style="width: 250px;">
      <!-- <label class="form-label" for="typeText">Confirm new password</label> -->
      <input style="border-radius: 10px;" type="text" id="typeText" class="form-control"/>
    </form><br>
    <button id="button1"  type="button" class="btn btn btn-sm" style="margin-left: 45%">Change Password</button>

  </div>

  </section>

</div>
