<nav id="toolbar" class="mb-1 navbar navbar-expand-lg navbar-dark">
  <a id="word3" class="navbar-brand" href="#">Studio Sesh</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Log Off</a>
      </li>
      <li style="margin-top: -0.5em;" class="nav-item avatar">
        <a class="nav-link p-0" href="#">
          <img
          src="https://mdbootstrap.com/img/new/avatars/2.jpg"
          class="rounded-circle"
          height="45"
          alt=""
          loading="lazy"

        />
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->

<div class="wrapper">
  <header>
    <h1></h1>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-md">

        <div class="column">
          <div class="container">
            <div>


            <section id="section1">
            <a href="">
              <img
                  src="https://mdbootstrap.com/img/new/avatars/2.jpg"
                  class="rounded-circle"
                  height="130"
                  alt=""
                  loading="lazy"/>
            </a>
            </section>

            <section id="section2">
            <p id="title1">Studio Name</p>
            <p id="title1">Location</p>
            <p id="title2">98493 Boyle Station</p>
            <p id="title1">Hourly Rate</p>
            <p id="title2">1500/=</p>
            <p id="title1">Studio Type</p>
            <p id="title2">Music Studio</p>
            </section>
            </div>
            </div>
        </div>

      </div>

      <div id="section3" class="col-md">
        <h2 id="title1">Business Bio:</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec enim vehicula metus feugiat ultricies sed et nunc. Ut sed libero tincidunt, porttitor tortor nec, tristique arcu. Nullam fermentum metus nunc, quis imperdiet nunc viverra ut. Integer ac eleifend enim. Pellentesque tincidunt aliquet fermentum.</p>

    <button id="button2"  type="submit" class="btn btn btn-sm">Book Session</button>
    <button id="button1"  type="submit" class="btn btn btn-sm" style="margin-left: 3%;">Leave a review</button>
      </div>

    </div>
  </div>

  <section class="columns">


    <div class="column">
    <section id="section3">
    </section>
    </div>


  <div class="">
      <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
          <div style="padding-left: 3em;" class="">
            <img id="gallery"
              src="https://mdbootstrap.com/img/new/standard/city/041.jpg"
              class=""
              alt="..."/>
          </div>
        </div>
        <div class="col">
          <div style="padding-left: 3em;" class="">
            <img id="gallery"
              src="https://mdbootstrap.com/img/new/standard/city/042.jpg"
              class=""
              alt="..."
            />
          </div>
        </div>
        <div class="col">
          <div style="padding-left: 3em;" class="">
            <img id="gallery"
              src="https://mdbootstrap.com/img/new/standard/city/043.jpg"
              class=""
              alt="..."
            />
          </div>
        </div>
        <div class="col">
          <div style="padding-left: 3em;" class="">
            <img id="gallery"
              src="https://mdbootstrap.com/img/new/standard/city/044.jpg"
              class=""
              alt="..."
            />
          </div>
        </div>
      </div>
  </div>
<br>
  <div class="">
    <h2 id="title1"></h2>
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <div class="col">
        <div style="padding-left: 3em;" class="">
          <img id="gallery"
            src="https://mdbootstrap.com/img/new/standard/city/041.jpg"
            class=""
            alt="..."/>
        </div>
      </div>
      <div class="col">
        <div style="padding-left: 3em;" class="">
          <img id="gallery"
            src="https://mdbootstrap.com/img/new/standard/city/042.jpg"
            class=""
            alt="..."
          />
        </div>
      </div>
      <div class="col">
        <div style="padding-left: 3em;" class="">
          <img id="gallery"
            src="https://mdbootstrap.com/img/new/standard/city/043.jpg"
            class=""
            alt="..."
          />
        </div>
      </div>
      <div class="col">
        <div style="padding-left: 3em;" class="">
          <img id="gallery"
            src="https://mdbootstrap.com/img/new/standard/city/044.jpg"
            class=""
            alt="..."
          />
        </div>
      </div>
    </div>
</div>
<br>
<div class="">
  <h2 id="title1"></h2>
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div style="padding-left: 3em;" class="">
        <img id="gallery"
          src="https://mdbootstrap.com/img/new/standard/city/041.jpg"
          class=""
          alt="..."/>
      </div>
    </div>
    <div class="col">
      <div style="padding-left: 3em;" class="">
        <img id="gallery"
          src="https://mdbootstrap.com/img/new/standard/city/042.jpg"
          class=""
          alt="..."
        />
      </div>
    </div>
    <div class="col">
      <div style="padding-left: 3em;" class="">
        <img id="gallery"
          src="https://mdbootstrap.com/img/new/standard/city/043.jpg"
          class=""
          alt="..."
        />
      </div>
    </div>
    <div class="col">
      <div style="padding-left: 3em;" class="">
        <img id="gallery"
          src="https://mdbootstrap.com/img/new/standard/city/044.jpg"
          class=""
          alt="..."
        />
      </div>
    </div>
  </div>
</div>

  </section>

</div>