* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 0px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.float-container {
    padding: 20px;
    /* margin-top: -20%; */
    align-items: center;
}

.float-child1{
    float: left;
}
.float-child2{
    float: left;
    color: #5F9EA0;
    margin-left: 10px;
}
.inbox_people {
  background: #5F9EA0;
  height: 210%;
  float: left;
  overflow: hidden;
  /* width: 40%;  */
  border-right:1px solid #c4c4c4;
  margin-bottom: 10px;
  justify-content: center;

}

.chat_img {
  /* float: left; */
  height: 5px;
  margin-left: 15px;
  margin-top: 15px;
}

.chat_ib {
  float: right;
  /* padding: 0 0 0 15px; */
  /* width: 88%; */
  margin-left: 90px;
  font-size: 14px;
  color: antiquewhite;
}

.recent_heading{
  margin-left: 20px;
  color: #ebebeb;
}

.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}

 .sent_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color: #5F9EA0;
  padding: 5px 10px 5px 12px;
  width: 75%;
  margin-left: 80px;
}

.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 50%;
 }
  .received_withd_msg p {
  background: #5F9EA0 none repeat scroll 0 0;
  border-radius: 3px;
  color: #fff;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 50%;
  margin-left: 20px;
}
.stylish-input-group{
  display: grid;
 place-items: center;
}
.srch_bar {
  /* display: inline-block; */
  text-align: right;
  width: 100%;
  margin-top: 15px;
  align-items: center;
  margin-left: 40px;

}
.mesgs {
  padding: 30px 15px 0 25px;

}

@media screen and (min-width: 780px) {

}